{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Generates a textarea with options to control the number of rows (the height) of the element as well as additional help and guidance information.
    <br /><br />
    A textarea will default to two rows in height to differentiate themselves from regular text inputs.</p>

    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({
        twig: "
{{
    form.textarea({
        'label': 'My label',
        'id': 'textarea-1',
        'name': 'textarea-1'
    })
}}
    " }) }}
    
    {{ docs.heading('h2', 'Helper options') }}

    <p>You can configure this helper using the <a href="../guides/using-helpers#common-options">common helper options.</a></p>

    <table class="table table--full">
        <thead>
            <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>rows</td>
                <td>integer</td>
                <td>The number of horizontal rows of text used to control the height of the input (default <code>2</code>)</td>
            </tr>
        </tbody>
    </table>

    {{ docs.heading('h2', 'Disabled input') }}

    <p>Add the <code>'disabled': true</code> option to disable the field on load. See the <a href="../guides/disabling-elements">disabling elements guide</a> for more information about how to disable elements via javascript. Provide help text or information within the UI where possible to explain why elements are disabled.</p>

    {{ docs.example({
        twig: "
{{
    form.textarea({
        'label': 'My label',
        'id': 'textarea-2',
        'name': 'textarea-2',
        'disabled': true
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Rows') }}
    
    <p>The height of a textarea can be increased by defining a number of <code>rows</code> that suits your expected input. If you expect a lot of content, provide more rows.</p>

    {{ docs.example({
        twig: "
{{
    form.textarea({
        'label': 'My label',
        'id': 'textarea-3',
        'name': 'textarea-3',
        'rows': 5
    })
}}
    " }) }}



</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}