{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Creates a simple HTML link, often used inside other helpers.</p>
    
    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({ 
        screenreader: "Link, Jadu",
        twig: "
{{
    html.link({
        'href': 'http://www.jadu.net',
        'label': 'Jadu'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Helper options') }}

    <p>You can configure this helper using the <a href="../guides/using-helpers#common-options">common helper options</a>, the following options are specific to this helper.</p>

    <table class="table table--full">
    <thead>
        <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><code>href</code></td>
            <td>string</td>
            <td>The URL attribute</td>
        </tr>
        <tr>
            <td><code>icon</code></td>
            <td>string</td>
            <td>An icon to place before the label</td>
        </tr>
    </tbody>
</table>

    {{ docs.heading('h2', 'Icons') }}
    {{ docs.heading('h3', 'Before the label') }}

    {{ docs.example({ 
        screenreader: "Link, Jadu",
        twig: "
{{
    html.link({
        'href': '#add',
        'icon': 'plus',
        'label': 'Add'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'After the label') }}

    {{ docs.example({ 
        screenreader: "Link, Jadu",
        twig: "
{{
    html.link({
        'href': '#view',
        'label': 'View Live ' ~ html.icon('external-link')
    })
}}
    " }) }}

    
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}