{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Generate a file input field.</p>

    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({
        screenreader: "",
        twig: "
{{
    form.file({
        'label': 'Attach file',
        'id': 'file-1',
        'name': 'file-1'
    })
}}
    " }) }}
    
    {{ docs.heading('h2', 'Helper options') }}

    <p>You can configure this helper using the <a href="../guides/using-helpers#common-options">common helper options</a>, the following options are specific to this helper.</p>

    {{ docs.heading('h2', 'Disabled input') }}

    <p>Add the <code>'disabled': true</code> option to disable the field on load. See the <a href="../guides/disabling-elements">disabling elements guide</a> for more information about how to disable elements via javascript. Provide help text or information within the UI where possible to explain why elements are disabled.</p>

    {{ docs.example({
        screenreader: "",
        twig: "
{{
    form.file({
        'label': 'Attach file',
        'id': 'file-2',
        'name': 'file-2',
        'disabled': true
    })
}}
    " }) }}

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}