{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    {{ docs.heading('h2', 'Validation') }}
    {{ docs.heading('h3', 'Error') }}

    {{ docs.example({
        screenreader: 'My label, unticked, tickbox. Something went wrong',
        twig: "
{{
    form.time({
        'label': 'My label',
        'id': 'time-b1', 
        'name': 'time-b1',
        'error': 'Something went wrong'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Multiple Errors') }}

    {{ docs.example({
        screenreader: 'My label, unticked, tickbox. Something went wrong something else went wrong',
        twig: "
{{
    form.time({
        'label': 'My label',
        'id': 'time-b2', 
        'name': 'time-b2',
        'error': [
            'Something went wrong',
            'Something else went wrong'
        ]
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Error and Help') }}

    {{ docs.example({
        screenreader: 'My label, unticked, tick box .Help text to give more information about expected input Something went wrong',
        twig: "
{{
    form.time({
        'label': 'My label',
        'id': 'time-b3', 
        'name': 'time-b3',
        'error': 'Something went wrong',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'States') }}
    {{ docs.heading('h3', 'Success') }}

    <p>Highlight positive actions or indicate that something has successfully saved with the <code>has-success</code> class.</p>

    {{ docs.example({
        screenreader: 'Something went wrong, selected invalid data, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'class': 'has-success',
        'id': 'time-b5', 
        'name': 'time-b5',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Warning') }}

    <p>Highlight states which may need extra attention from the user, but which aren’t quite errors, with the <code>has-warning</code> class.</p>

    {{ docs.example({
        screenreader: 'Help text to give more information about expected input, selected, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'class': 'has-success',
        'id': 'time-b6', 
        'name': 'time-b6',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Error') }}

    <p>The <code>has--error</code> class is automatically added when using the <code>error</code> option.</p>

    {{ docs.example({
        screenreader: 'Help text to give more information about expected input, selected, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'class': 'has-error',
        'id': 'time-b7', 
        'name': 'time-b7',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Changed') }}

    <p>Highlight actions which may have changed depending on other choices elsewhere in the user interface using the <code>has-changed</code> class.</p>

    {{ docs.example({
        screenreader: 'Something went wrong, selected invalid data, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'class': 'has-changed',
        'id': 'time-b4', 
        'name': 'time-b4',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}
    
    {{ docs.heading('h2', 'Variations') }}
    {{ docs.heading('h3', 'Help') }}

    {{ docs.example({
        screenreader: 'Help text to give more information about selected input, selected, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'id': 'time-b8', 
        'name': 'time-b8',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Required') }}

    {{ docs.example({
        screenreader: 'selected, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'id': 'time-b9', 
        'name': 'time-b9',
        'required': true,
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Guidance') }}

    {{ docs.example({
        screenreader: 'selected, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'id': 'time-b10', 
        'name': 'time-b10',
        'guidance': 'Guidance text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Alignment') }}
    {{ docs.heading('h2', 'Hide Label') }}
    
    {{ docs.example({
        screenreader: 'radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'My label',
        'show-label': false,
        'id': 'time-b11', 
        'name': 'time-b11',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Long Label Behaviour') }}
    
    {{ docs.example({
        screenreader: 'Example block level help text here, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'id': 'time-b11', 
        'name': 'time-b11',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Top Labels') }}

    <p>You should avoid using really long labels, but if you have to, it may be more appropriate to use the <code>form__group--top</code> class to give it more space.</p>
    
    {{ docs.example({
        screenreader: 'Example block level help text here, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'class': 'form__group--top',
        'id': 'time-b12', 
        'name': 'time-b12',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Flush Inputs') }}

    <p>Depending on the flow of your user interface you may want to position your inputs along the left edge of the UI</p>
    
    {{ docs.example({
        screenreader: 'Example block level help text here, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'class': 'form__group--flush',
        'id': 'time-b12', 
        'name': 'time-b12',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Flush Inputs & Top Label') }}
    
    {{ docs.example({
        screenreader: 'Example block level help text here, radio button, 1 of 3',
        twig: "
{{
    form.time({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'class': 'form__group--top form__group--flush',
        'id': 'time-b13', 
        'name': 'time-b13',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}
    
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}