{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">The Rules pattern allow users to build up a conditional logic statement in a visual way.</p>

    {{ docs.heading('h2', 'Anatomy of a rule') }}

    <p>A complete rule is made up of blocks, which define specific conditions, and links, which allow additional blocks to be added.</p>

<pre><code>── Rule container
    └── rule block
        └── rule block header
        └── rule block controls
            └── rule block control
    └── rule links
        └── rule link</code></pre>

    <p>For a rule which is structured in the IF/AND/OR/RETURN format, the blocks and links are typically arranged within the following example heirarchy.</p>

<pre><code>── IF block
|  |  └── OR link
|  |── AND block
|  |  └── OR link
|  |─── AND link
|  └── RETURN block
|── ELSE IF link
└── ELSE RETURN block</code></pre>

    {{ docs.heading('h2', 'Rule blocks') }}

    <p>A rule block represents a single logical condition that must be matched for the rule to take this route. The controls within the rule block will be specific to the context of the parent user interface.</p>

    <p>The rule classes define how the block is visually styled, the block must use the parent <code>.rule-block</code> class.</p>

    <ul>
        <li><code>.rule-block--if</code></li>
        <li><code>.rule-block--and</code></li>
        <li><code>.rule-block--or</code></li>
        <li><code>.rule-block--else-if</code></li>
        <li><code>.rule-block--return</code></li>
        <li><code>.rule-block--else-return</code></li>
    </ul>

    {{ docs.example({
        twig: "<div id=\"rule-form-container-1\" class=\"rules-container rules-container--v2\">
    <fieldset class=\"rule-block rule-block--if\">
        <legend class=\"hide\">If rule condition</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">if</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'show-label': false,
                        'placeholder': 'Choose condition',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
            <div class=\"rule-block__control\">
                {{
                    form.select({
                        'class': 'form__group--small',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose logic',
                        'show-label': false,
                        'options': [
                            {
                                'label': 'is',
                                'value': 'value1'
                            },
                            {
                                'label': 'is not',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose value',
                        'show-label': false,
                        'placeholder': 'Choose value',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>
</div>
    " }) }}

    {{ docs.heading('h3', 'Removeable blocks') }}

    <p>Any blocks that a user has added by using the rule links should be removeable, this is achieved by adding the remove control as the last child of the rule block. These controls should also be present if a saved rule is loaded.</p>

    <p>The first IF block, as well as all RETURN and ELSE RETURN blocks should not be removeable.</p>

    {{ docs.example({
        twig: "<div id=\"rule-form-container-2\" class=\"rules-container rules-container--v2\">
    <fieldset class=\"rule-block rule-block--and\">
        <legend class=\"hide\">And rule condition</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">And</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'placeholder': 'Choose condition',
                        'show-label': false,
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>

        <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\" class=\"btn remove-button js-remove-condition\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
    </fieldset>
</div>
    " }) }}

    {{ docs.heading('h3', 'Indented blocks') }}

    <p>When an OR block immediately follows an IF, AND or ELSE-IF rule, it should be indented using a <code>.rule-block--indent</code> wrapper. Any rule links relating to this indented block should also be contained within the indent wrapper to maintain the layout of the ruleset.</p>

    <p>If an OR block follows another OR block, it does not need to be further indented.</p>

    {{ docs.example({
        twig: "
<div id=\"rule-form-container-3\" class=\"rules-container rules-container--v2\">
    <fieldset class=\"rule-block rule-block--if\">
        <legend class=\"hide\">If rule condition</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">if</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'placeholder': 'Choose condition',
                        'show-label': false,
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

    <div class=\"rule-block--indent\">
        <fieldset class=\"rule-block rule-block--or\">
            <legend class=\"hide\">Or rule condition</legend>
            <div class=\"rule-block__header\">
                <h2 class=\"rule-block__heading\">or</h2>
            </div>
            <div class=\"rule-block__controls\">
                <div class=\"rule-block__control\">
                    {{
                        form.select2({
                            'class': 'form__group--medium',
                            'id': 'guid-' ~ random(),
                            'label': 'Choose condition',
                            'placeholder': 'Choose condition',
                            'show-label': false,
                            'options': [
                                {
                                    'label': 'Value one',
                                    'value': 'value1'
                                },
                                {
                                    'label': 'Value two',
                                    'value': 'value2'
                                }
                            ]
                        })
                    }}
                </div>
            </div>
            <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\" class=\"btn remove-button js-remove-trigger\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
        </fieldset>

        <fieldset class=\"rule-block rule-block--or\">
            <legend class=\"hide\">Or rule condition</legend>
            <div class=\"rule-block__header\">
                <h2 class=\"rule-block__heading\">or</h2>
            </div>
            <div class=\"rule-block__controls\">
                <div class=\"rule-block__control\">
                    {{
                        form.select2({
                            'class': 'form__group--medium',
                            'id': 'guid-' ~ random(),
                            'label': 'Choose condition',
                            'placeholder': 'Choose condition',
                            'show-label': false,
                            'options': [
                                {
                                    'label': 'Value one',
                                    'value': 'value1'
                                },
                                {
                                    'label': 'Value two',
                                    'value': 'value2'
                                }
                            ]
                        })
                    }}
                </div>
            </div>
            <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\" class=\"btn remove-button js-remove-condition\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
        </fieldset>

        <div class=\"rule-links\">
            <div class=\"rule-link rule-link--or\">
                <button class=\"btn\" aria-label=\"Add a new OR condition\">or</button>
            </div>
        </div>

    </div><!-- /.ruleblock--indent -->

    ...

</div><!-- /.rules-container -->
    " }) }}

    {{ docs.heading('h2', 'Ruleset examples') }}

    {{ docs.heading('h3', 'Basic') }}

    {{ docs.example({
        twig: "
<div id=\"rule-form-container-4\" class=\"rules-container rules-container--v2\">
    <fieldset class=\"rule-block rule-block--if\">
        <legend class=\"hide\">If rule condition</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">if</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'show-label': false,
                        'placeholder': 'Choose condition',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

    <div class=\"rule-links\">
        <div class=\"rule-link rule-link--or\">
            <button class=\"btn\" aria-label=\"Add a new OR condition\">or</button>
        </div>
        <div class=\"rule-link rule-link--and\">
            <button class=\"btn\" aria-label=\"Add a new AND condition\">and</button>
        </div>
    </div>

    <fieldset class=\"rule-block rule-block--return\">
        <legend class=\"hide\">Return</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">return</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'show-label': false,
                        'placeholder': 'Choose condition',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

    <div class=\"rule-links\">
        <div class=\"rule-link rule-link--else-if\">
            <button class=\"btn\">else if</button>
        </div>
    </div>

    <fieldset class=\"rule-block rule-block--else-return\">
        <legend class=\"hide\">Else return</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">else return</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'show-label': false,
                        'placeholder': 'Choose condition',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

</div><!-- /.rules-container -->
    " }) }}

    {{ docs.heading('h2', 'Full') }}

    {{ docs.example({
        twig: "
<div id=\"rule-form-container-5\" class=\"rules-container rules-container--v2\">
    <fieldset class=\"rule-block rule-block--if\">
        <legend class=\"hide\">If rule condition</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">if</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'show-label': false,
                        'placeholder': 'Choose condition',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

    <div class=\"rule-block--indent\">

        <fieldset class=\"rule-block rule-block--or\">
            <legend class=\"hide\">Or rule condition</legend>
            <div class=\"rule-block__header\">
                <h2 class=\"rule-block__heading\">or</h2>
            </div>
            <div class=\"rule-block__controls\">
                <div class=\"rule-block__control\">
                    {{
                        form.select2({
                            'class': 'form__group--medium',
                            'id': 'guid-' ~ random(),
                            'label': 'Choose condition',
                            'show-label': false,
                            'placeholder': 'Choose condition',
                            'options': [
                                {
                                    'label': 'Value one',
                                    'value': 'value1'
                                },
                                {
                                    'label': 'Value two',
                                    'value': 'value2'
                                }
                            ]
                        })
                    }}
                </div>
            </div>
            <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\"  class=\"btn remove-button js-remove-condition\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
        </fieldset>

        <fieldset class=\"rule-block rule-block--or\">
            <legend class=\"hide\">Or rule condition</legend>
            <div class=\"rule-block__header\">
                <h2 class=\"rule-block__heading\">or</h2>
            </div>
            <div class=\"rule-block__controls\">
                <div class=\"rule-block__control\">
                    {{
                        form.select2({
                            'class': 'form__group--medium',
                            'id': 'guid-' ~ random(),
                            'label': 'Choose condition',
                            'show-label': false,
                            'placeholder': 'Choose condition',
                            'options': [
                                {
                                    'label': 'Value one',
                                    'value': 'value1'
                                },
                                {
                                    'label': 'Value two',
                                    'value': 'value2'
                                }
                            ]
                        })
                    }}
                </div>
            </div>
            <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\" class=\"btn remove-button js-remove-condition\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
        </fieldset>

        <div class=\"rule-links\">
            <div class=\"rule-link rule-link--or\">
                <button class=\"btn\" aria-label=\"Add a new OR condition\">or</button>
            </div>
        </div>

    </div><!-- /.ruleblock--indent -->

    <fieldset class=\"rule-block rule-block--and\">
        <legend class=\"hide\">And rule condition</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">and</h2>
        </div>
        <div class=\"rule-block__controls\">
                <div class=\"rule-block__control\">
                    {{
                        form.select2({
                            'class': 'form__group--medium',
                            'id': 'guid-' ~ random(),
                            'label': 'Choose condition',
                            'show-label': false,
                            'placeholder': 'Choose condition',
                            'options': [
                                {
                                    'label': 'Value one',
                                    'value': 'value1'
                                },
                                {
                                    'label': 'Value two',
                                    'value': 'value2'
                                }
                            ]
                        })
                    }}
                </div>
        </div>
        <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\" class=\"btn remove-button js-remove-condition\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
    </fieldset>

    <div class=\"rule-block--indent\">
        <fieldset class=\"rule-block rule-block--or\">
            <legend class=\"hide\">Or rule condition</legend>
            <div class=\"rule-block__header\">
                <h2 class=\"rule-block__heading\">or</h2>
            </div>
            <div class=\"rule-block__controls\">
                <div class=\"rule-block__control\">
                    {{
                        form.select2({
                            'class': 'form__group--medium',
                            'id': 'guid-' ~ random(),
                            'label': 'Choose condition',
                            'show-label': false,
                            'placeholder': 'Choose condition',
                            'options': [
                                {
                                    'label': 'Value one',
                                    'value': 'value1'
                                },
                                {
                                    'label': 'Value two',
                                    'value': 'value2'
                                }
                            ]
                        })
                    }}
                </div>
            </div>
            <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\"  class=\"btn remove-button js-remove-condition\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
        </fieldset>

        <div class=\"rule-links\">
            <div class=\"rule-link rule-link--or\">
                <button class=\"btn\" aria-label=\"Add a new OR condition\">or</button>
            </div>
        </div>
    </div><!-- /.ruleblock--indent -->

    <div class=\"rule-links\">
        <div class=\"rule-link rule-link--and\">
            <button class=\"btn\" aria-label=\"Add a new AND condition\">and</button>
        </div>
    </div>

    <fieldset class=\"rule-block rule-block--return\">
        <legend class=\"hide\">Return</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">return</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose return value',
                        'show-label': false,
                        'placeholder': 'Choose return value',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

    <div class=\"rule-links\">
        <div class=\"rule-link rule-link--else-if\">
            <button class=\"btn\">else if</button>
        </div>
    </div>

    <fieldset class=\"rule-block rule-block--else-if\">
        <legend class=\"hide\">Else If rule condition</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">else if</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose condition',
                        'show-label': false,
                        'placeholder': 'Choose condition',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
        <button data-action=\"remove\" data-tippy-content=\"Remove this item\" data-tippy-placement=\"left\" class=\"btn remove-button js-remove-condition\"><i  class=\"icon-remove-sign\"><span class=\"hide\">Remove this item</span></i></button>
    </fieldset>

    <div class=\"rule-links\">
        <div class=\"rule-link rule-link--or\">
            <button class=\"btn\" aria-label=\"Add a new OR condition\">or</button>
        </div>
        <div class=\"rule-link rule-link--and\">
            <button class=\"btn\" aria-label=\"Add a new AND condition\">and</button>
        </div>
    </div>

    <fieldset class=\"rule-block rule-block--return\">
        <legend class=\"hide\">Return</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">return</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose return value',
                        'show-label': false,
                        'placeholder': 'Choose return value',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

    <div class=\"rule-links\">
        <div class=\"rule-link rule-link--else-if\">
            <button class=\"btn\">else if</button>
        </div>
    </div>

    <fieldset class=\"rule-block rule-block--else-return\">
        <legend class=\"hide\">Else return</legend>
        <div class=\"rule-block__header\">
            <h2 class=\"rule-block__heading\">else return</h2>
        </div>
        <div class=\"rule-block__controls\">
            <div class=\"rule-block__control\">
                {{
                    form.select2({
                        'class': 'form__group--medium',
                        'id': 'guid-' ~ random(),
                        'label': 'Choose return value',
                        'show-label': false,
                        'placeholder': 'Choose return value',
                        'options': [
                            {
                                'label': 'Value one',
                                'value': 'value1'
                            },
                            {
                                'label': 'Value two',
                                'value': 'value2'
                            }
                        ]
                    })
                }}
            </div>
        </div>
    </fieldset>

</div><!-- /.rules-container -->
    " }) }}

    {{ docs.heading('h2', 'Interactions') }}

    <p>Currently, there is no associated JavaScript component to enable interactions for the rules user interface. This is due to the singular implementation of this pattern within the XFP product.</p>


</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}