{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    {{ docs.heading('h2', 'Validation') }}
    {{ docs.heading('h3', 'Error') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'id': 'color-b1',
        'name': 'color-b1',
        'error': 'Something went wrong'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Multiple Errors') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'id': 'color-b2',
        'name': 'color-b2',
        'error': [
            'Something went wrong',
            'Something else went wrong'
        ]
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Error and Help') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'id': 'color-b3',
        'name': 'color-b3',
        'error': 'Something went wrong',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'States') }}
    {{ docs.heading('h3', 'Success') }}

    <p>Highlight positive actions or indicate that something has successfully saved with the <code>has-success</code> class.</p>

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'class': 'has-success',
        'id': 'color-b4',
        'name': 'color-b4',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Warning') }}

    <p>Highlight states which may need extra attention from the user, but which aren’t quite errors, with the <code>has-warning</code> class.</p>

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'class': 'has-warning',
        'id': 'color-b5',
        'name': 'color-b5',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Danger') }}

    <p>The <code>has--error</code> class is automatically added when using the <code>error</code> option.</p>

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'class': 'has-error',
        'id': 'color-b6',
        'name': 'color-b6',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Changed') }}

    <p>Highlight actions which may have changed depending on other choices elsewhere in the user interface using the <code>has-changed</code> class.</p>

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'class': 'has-changed',
        'id': 'color-b7',
        'name': 'color-b7',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Variations') }}
    {{ docs.heading('h3', 'Help') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'id': 'color-b8',
        'name': 'color-b8',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Required') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'id': 'color-b9',
        'name': 'color-b9',
        'required': true
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Alignment') }}
    {{ docs.heading('h2', 'Hide Label') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'Pick colour',
        'show-label': false,
        'id': 'color-b11',
        'name': 'color-b11',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Long Label Behaviour') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'id': 'color-b12',
        'name': 'color-b12',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Top Labels') }}

    <p>You should avoid using really long labels, but if you have to, it may be more appropriate to use the <code>form__group--top</code> class to give it more space.</p>

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'class': 'form__group--top',
        'id': 'color-b13',
        'name': 'color-b13',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Flush Inputs') }}

    <p>Depending on the flow of your user interface you may want to position your inputs along the left edge of the UI</p>

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'class': 'form__group--flush',
        'id': 'color-b14',
        'name': 'color-b14',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Flush Inputs & Top Label') }}

    {{ docs.example({
        twig: "
{{
    form.color({
        'label': 'A longer than expected label which will probably wrap multiple lines and push the following input onto the next baseline',
        'class': 'form__group--top form__group--flush',
        'id': 'color-b15',
        'name': 'color-b15',
        'help': 'Help text to give more information about expected input'
    })
}}
    " }) }}

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}