{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}

<div class="report">

    {{ docs.heading('h2', 'General guidance') }}

    <p>Dropdown buttons should follow the <a href="button?tab=guidelines">general button guidelines</a>.</p>

    {{ docs.heading('h2', 'Separating items with dividers') }}

    <p>Use the divider helper to insert a horizontal line between links. This is a useful way to visually group related actions.</p>

    {{ docs.example({ 
        screenreader: "My Action, Button",
        twig: "
{{
    html.button_dropdown({
        'label': 'My Action',
        'items': [
            html.link({ 'label': 'Foo', 'href': '#foo' }),
            html.divider(),
            html.link({ 'label': 'Bar', 'href': '#bar' })
        ]
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Tooltips on dropdown items') }}

    {{ docs.example({ 
        screenreader: "My Action, Button",
        twig: "
{{
    html.button_dropdown({
        'label': 'My Action',
        'items': [
            html.link({ 'label': 'No tooltip', 'href': '#foo' }),
            html.link({
                'label': 'With tooltip',
                'href': '#bar',
                'data-tippy-content': 'My tooltip',
                'data-tippy-placement': 'right'
            })
        ]
    })
}}
    " }) }}
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}