{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Continuum Integrations are a highly technical feature, often linking together separate systems and software using technical terminology like port numbers, timeouts and access tokens. Great care should be taken to design the integration to help the user understand what information they must supply and where they can find it.</p>

    {{ docs.heading('h2', 'Integrations hub') }}

    <p>The integrations hub lists all of the currently available integrations available within a given Continuum product using a Pulsar 'piano' layout, listing the integrations as tabs on the left and their configurations on the right.</p>

    <figure>
        <img src="/views/patterns/integrations/img/one.png" alt="Screenshot showing the layout of an integration" />
    </figure>

    {{ docs.heading('h2', 'Integrations tab') }}

    <p>The tabs content is marked up as a standard media object, using Pulsar's html.media() object.</p>

    {{ docs.example({
        twig: "
{{
    html.media({
        'image': '/views/patterns/integrations/img/office365.png',
        'image_alt': 'Office365 logo',
        'title': 'Office 365',
        'description': 'Access Outlook calendars within your CMS'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Tab icon') }}

    <p>Allows an integration to be branded to make them more recognisable, you should use authorised brand assets where possible, taking care not to break any brand guidelines.</p>

    <ul>
        <li>Images should be 100 x 100px square (will be displayed at 50px square)</li>
        <li>should have a transparent background</li>
        <li>should be added to the repository, don't link to externally hosted assets</li>
    </ul>

    <p>Instead of an image you could use a FontAwesome icon to illustrate the tab and define a specific colour value to match a company's brand, see the <a href="https://fontawesome.com/icons?from=io#brand">branding icons category</a>.</p>

    {{ docs.example({
        twig: "
{{
    html.media({
        'icon': 'youtube-square',
        'icon_colour': '#e52d27',
        'title': 'YouTube',
        'description': 'Upload videos to your YouTube accounts'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Tab title') }}

    <p>The title should, ideally, be the name of the software being integrated.</p>

    <p>e.g.</p>
    <ul>
        <li>PayPal</li>
        <li>YouTube</li>
        <li>Office365</li>
    </ul>

    <p>If a company name isn't widely known, or provides multiple services, you should make the title more descriptive as to the nature of the integration.</p>

    <p>e.g.</p>

    <ul>
        <li>Google Analytics</li>
        <li>Google Drive</li>
        <li>Google Maps</li>
        <li>ESRI Maps</li>
    </ul>

    <p>Some integrations won't relate to a specific company or software and should try and use the most obvious descriptive name.</p>

    <p>e.g.</p>

    <ul>
        <li>LDAP Authentication</li>
        <li>Website Analytics</li>
    </ul>

    {{ docs.guidelines({
        do: {
            label: 'use title case, unless branding guidelines dictate otherwise (like YouTube)',
            twig: "
{{
    html.media({
        'icon': 'youtube-square',
        'icon_colour': '#e52d27',
        'title': 'YouTube',
        'description': 'Upload videos to your YouTube accounts'
    })
}}
    "
        },
        not: {
            label: 'use a trailing full stop',
            twig: "
{{
    html.media({
        'icon': 'youtube-square',
        'icon_colour': '#e52d27',
        'title': 'Youtube.',
        'description': 'Upload videos to your YouTube accounts'
    })
}}
    "
        }
    }) }}

    {{ docs.heading('h3', 'Tab description') }}

    <p>The description is a single line to provide extra information about what the integration does and can be used to clarify ambiguous titles.
    Try to describe the integration in 10 words or fewer, the tab container has limited width and shouldn't break onto multiple lines.</p>

    {{ docs.guidelines({
        do: {
            label: 'explain what this integration will enable the users to do',
            twig: "
{{
    html.media({
        'image': '/views/patterns/integrations/img/office365.png',
        'image_alt': 'Office365 logo',
        'title': 'Office 365',
        'description': 'Access Outlook calendars within your CMS'
    })
}}
    "
        },
        not: {
            label: 'simply explain what the integration process is',
            twig: "
{{
    html.media({
        'image': '/views/patterns/integrations/img/office365.png',
        'image_alt': 'Office365 logo',
        'title': 'Office 365',
        'description': 'Enable Office365 integration'
    })
}}
    "
        }
    }) }}

    <p>A properly formed tab description should be able to complete the following sentence:</p>

    <blockquote>When enabled, this integration will allow you to [ .......... ]</blockquote>

    <p>e.g.</p>

    <table class="table table--full">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>LDAP Authentication</td>
                <td>Authenticate admins using your LDAP/AD server</td>
            </tr>
            <tr>
                <td>Continuum CXM</td>
                <td>Allow users to sign into your website using their CXM credentials</td>
            </tr>
            <tr>
                <td>Website Analytics</td>
                <td>Track visitors to your public website</td>
            </tr>
        </tbody>
    </table>

    {{ docs.guidelines({
        do: {
            label: 'use sentence case',
            twig: "
{{
    html.media({
        'icon': 'youtube-square',
        'icon_colour': '#e52d27',
        'title': 'YouTube',
        'description': 'Upload videos to your YouTube accounts'
    })
}}
    "
        },
        not: {
            label: 'use a trailing full stop',
            twig: "
{{
    html.media({
        'icon': 'youtube-square',
        'icon_colour': '#e52d27',
        'title': 'YouTube',
        'description': 'Upload videos to your YouTube accounts.'
    })
}}
    "
        }
    }) }}

    {{ docs.heading('h2', 'Main integration user interface') }}

    <p>An integration should use the 'masterswitch' layout pattern where possible, this provides a clear 'on/off' switch for an Administrator to enable or disable an integration in one easy step, and helps the person to understand whether an integration is currently active or not.</p>

    <figure>
        <img src="/views/patterns/integrations/img/two.png" alt="Screenshot showing the layout of an integration" />
    </figure>

    <p>A brief description (one or two short paragraphs) should be put at the top of the settings view (above the masterswitch) to further explain this integration or to provide important information which may be needed to successfully set it up.</p>

    <p>e.g. Inform the user how to find specific details on the external system they're integrating with.</p>

    <blockquote>You will find these details by signing into your Continuum CXM and navigating to Settings > System > Service APIs.<br /><br />
    Permission to add service APIs will be required.</blockquote>

    <p>or</p>

    <p>Add the tracking code from any analytics program like Google Analytics, Piwik, KISSMetrics, etc and it will be included in the footer of all pages on your public website.</p>

    {{ docs.heading('h3', 'Masterswitch control') }}

    <p>The masterswitch pattern allows an entire UI to be disabled while the switch is in the 'off' position.</p>

    <p>Disabling an integration should happen immediately and not require an extra 'save' or confirmation step, however after enabling the switch, the integration should not be activated until they have completed all required fields to configure the integration.</p>

    <p>If disabling an integration is a potentially destructive action, you should use a confirmation modal to illustrate the impact of the action to the user.</p>

    {{ docs.guidelines({
        do: {
            label: 'keep the label consistent, to indicate state',
            twig: "
{{
    form.toggle_switch({
        'label': 'Enable integration',
        'id': 'guid-' ~ random(),
        'name': 'toggle-1'
    })
}}
{{
    form.toggle_switch({
        'label': 'Enable integration',
        'id': 'guid-' ~ random(),
        'name': 'toggle-2',
        'checked': true
    })
}}
    "
        },
        not: {
            label: 'change the label to indicate the action that will be performed',
            twig: "
{{
    form.toggle_switch({
        'label': 'Enable integration',
        'id': 'guid-' ~ random(),
        'name': 'toggle-1'
    })
}}
{{
    form.toggle_switch({
        'label': 'Disable integration',
        'id': 'guid-' ~ random(),
        'name': 'toggle-2',
        'checked': true
    })
}}
    "
        }
    }) }}

    {{ docs.guidelines({
        do: {
            label: 'use the label \'Enable integration\'',
            twig: "
{{
    form.toggle_switch({
        'label': 'Enable integration',
        'id': 'guid-' ~ random(),
        'name': 'toggle-3'
    })
}}
    "
        },
        not: {
            label: 'use product/service names',
            twig: "
{{
    form.toggle_switch({
        'label': 'Enable Google Drive',
        'id': 'guid-' ~ random(),
        'name': 'toggle-4'
    })
}}
    "
        }
    }) }}

    {{ docs.heading('h3', 'Form fields') }}

    <p>Because integrations are often highly technical in nature, you should use every opportunity to use help text to provide more context around a field.</p>

    {{ docs.guidelines({
        do: {
            label: 'use units of measure, and explain what the setting actually means',
            twig: "
{{
    form.text({
        'class': 'form__control-col--6',
        'label': 'Timeout',
        'id': 'guid-' ~ random(),
        'name': 'timeout-1',
        'append': 'Seconds',
        'help': 'How long the system should wait for a response, usually 600 seconds (10 minutes)',
        'value': '600'
    })
}}
    "
        },
        not: {
            label: 'expect the user to know',
            twig: "
{{
    form.text({
        'label': 'Timeout',
        'id': 'guid-' ~ random(),
        'name': 'timeout-2'
    })
}}
    "
        }
    }) }}

    <p>Be clear about what system a setting relates to, for example, if you're asking for a username, is that the person's username on System A, or System B?</p>

    {{ docs.guidelines({
        do: {
            label: 'be clear about which system/software a value originates from, and where to find it',
            twig: "
{{
    form.text({
        'label': 'GitHub access token',
        'id': 'guid-' ~ random(),
        'name': 'github-token-1',
        'help': 'Find this at <a href=\"https://github.com/settings/tokens\">https://github.com/settings/tokens</a>'
    })
}}
    "
        },
        not: {
            label: 'be ambiguous',
            twig: "
{{
    form.text({
        'label': 'Access token',
        'id': 'guid-' ~ random(),
        'name': 'github-token-2'
    })
}}
    "
        }
    }) }}

    <p>Quite often you may need to allow an admin to configure server oriented variables, such as port numbers, timeouts and proxy addresses. You should provide sensible defaults for these where possible, giving the admin a higher likelihood of getting it right 'first time'. Choose your field type wisely, for example, if an integration only has a specific list of valid port numbers available, use a form.choice() helper instead of a free text input, reducing the opportunity for accidental errors.</p>

    <p>If the admin needs to ask their sysadmin/network administrator for specific values, or to get ports unblocked, then it's useful to let them know upfront.</p>

    {{ docs.heading('h3', 'Tabbed integrations') }}

    <p>For more complex integrations it may make sense to split the settings over multiple tabs.<p>

    <figure>
        <img src="/views/patterns/integrations/img/three.png" alt="Screenshot showing the layout of an integration" />
    </figure>

    <p>The first tab should be active when the user enables the masterswitch, however you may need/want to disable the other tabs until some required information has been completed.</p>

    <p>Use cases for this may include:</p>

    <ul>
        <li>User connects to the integrating system on the first tab</li>
        <li>Integration can now fetch data from the integrated system to allow further configuration on other tabs</li>
    </ul>

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}