{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Generate a text input field which will show a date picker overlay when focused.</p>

    {{ docs.heading('h2', 'Basic usage') }}

    {{ docs.example({
        screenreader: "",
        twig: "
{{
    form.date({
        'label': 'Start date',
        'id': 'date-1',
        'name': 'date-1',
        'append': html.icon('calendar')
    })
}}
      ",
      symfony: "
use Symfony\\Component\\Form\\Extension\\Core\\Type\\DateType;

$builder->add(
    'date-1',
    DateType::class,
    [
        'label' => 'Start date',
        'widget' => 'single_text'
    ]
)
      " }) }}
    
    {{ docs.heading('h2', 'Twig helper') }}
    {{ docs.heading('h3', 'Helper options') }}

    <p>You can configure this helper using the <a href="../guides/using-helpers#common-options">common helper options</a>, the following options are specific to this helper.</p>

    <table class="table table--full">
        <thead>
            <tr>
            <th>Option</th>
            <th>Type</th>
            <th>Description</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>data-datepicker</td>
                <td>bool</td>
                <td>Initialises the date picker overlay if <code>true</code> (default)</td>
            </tr>
            <tr>
                <td>format</td>
                <td>string</td>
                <td>
                    <p>Specify the date format to use, can be:
                    </p>
                    <ul>
                        <li><code>default</code> dd/mm/yyyy</li>
                        <li><code>US</code> mm/dd/yyyy</li>
                        <li><code>reverse</code> yyyy/mm/dd</li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    {{ docs.heading('h3', 'Date format') }}

    <p>Use the <code>format</code> attribute to change between <code>default</code> (UK), <code>US</code> and <code>reverse</code> (reverse UK) date formats.</p>

    {{ docs.example({
        screenreader: "",
        twig: "
{{
    form.date({
        'label': 'Start date',
        'id': 'date-2',
        'name': 'date-2',
        'format': 'US'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Disabled input') }}

    <p>Add the <code>'disabled': true</code> option to disable the field on load. See the <a href="../guides/disabling-elements">disabling elements guide</a> for more information about how to disable elements via javascript. Provide help text or information within the UI where possible to explain why elements are disabled.</p>

    {{ docs.example({
        screenreader: "",
        twig: "
{{
    form.date({
        'label': 'Start date',
        'id': 'date-3',
        'name': 'date-3',
        'disabled': true
    })
}}
    " }) }}

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#basic-usage">Basic usage</a></li>
        <li><a href="#twig-helper">Twig helper</a>
            <ul>
                <li><a href="#helper-options">Helper options</a></li>
                <li><a href="#disabled-input">Disabled input</a></li>
            </ul>
        </li>
    </ul>
{% endblock tab_sidebar %}
