{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">Datatables use the datatables.net plugin to provide a nice amount of functionality to your data. Pulsar’s configuration includes plugins to make them responsive. Where possible you should refer to the official <a href="https://datatables.net">datatable documentation</a>.</p>

    {{ docs.heading('h2', 'Basic styling') }}

    <p>For more information about basic table styles and layout options, refer to the <a href="table">table component</a>.</p>
    
    {{ docs.heading('h2', 'Dependencies') }}
    {{ docs.heading('h3', 'Javascript') }}

    <p>The following libraries should be included in your product’s <code>package.json</code> file.</p>

<pre><code lang="javascript">/* package.json */

"dependencies": {
    "datatables.net": "^1.10.11",
    "datatables.net-buttons": "^1.1.2",
    "datatables.net-buttons-dt": "^1.1.2",
    "datatables.net-dt": "^1.10.10",
    "datatables.net-responsive": "^2.0.2",
    "datatables.net-responsive-dt": "^2.0.0",
    "datatables.net-select": "^1.1.2",
    "datatables.net-select-dt": "^1.1.2"
}</code></pre>

{{ docs.heading('h3', 'Sass') }}
<p>You will need both the base tables styles, and the datatables extras.</p>

<pre><code lang="javascript">/* pulsar.scss */

@import '/path/to/bundles/pulsar/stylesheets/_component.tables';
@import '/path/to/bundles/pulsar/stylesheets/_component.datatables';</code></pre>

    {{ docs.heading('h2', 'Configuration') }}

    <p>The datatable plugin is called on any table containing the <code>.datatable</code> class. Pulsar has a core configuration within <code>pulsarUIComponent</code>, but there may be times when you need to create your own custom config.</p>

    {{ docs.heading('h2', 'Example usage') }}

    {{ docs.example({ 
        twig: "
{% 
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified' },
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': [
            {
                'Title': 'The Terminator',
                'Owner': 'James Cameron',
                'Modified': '1991-07-01 12:34',
                'Live': true,
                'Visible': false 
            },
            {
                'Title': 'Conan the Barbarian',
                'Owner': 'John Millius',
                'Modified': '1982-04-02 12:34',
                'Live': false,
                'Visible': true 
            },
            {
                'Title': 'Predator',
                'Owner': 'John McTiernan',
                'Modified': '1988-01-01 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Commando',
                'Owner': 'Mark L. Lester',
                'Modified': '1986-02-21 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator Genisys',
                'Owner': 'Alan Taylor',
                'Modified': '2015-06-25 12:34',
                'Live': true,
                'Visible': true
            }
        ]
    }
%}
{{ 
    html.datatable({
        'class': 'table--full table--horizontal',
        'data-order': '[[ 3, \"desc\" ]]',
        'data': data
    }) 
}}
    " }) }}

    {{ docs.heading('h2', 'Disable row selection') }}

    <p>Datatables allow selection of rows by default, this behaviour can be disabled through the <code>data-selection</code> attribute. This will hide the related elements in the UI.</p>

{{ docs.example({ 
        twig: "
{% 
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified' },
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': [
            {
                'Title': 'The Terminator',
                'Owner': 'James Cameron',
                'Modified': '1991-07-01 12:34',
                'Live': true,
                'Visible': false 
            },
            {
                'Title': 'Conan the Barbarian',
                'Owner': 'John Millius',
                'Modified': '1982-04-02 12:34',
                'Live': false,
                'Visible': true 
            },
            {
                'Title': 'Predator',
                'Owner': 'John McTiernan',
                'Modified': '1988-01-01 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Commando',
                'Owner': 'Mark L. Lester',
                'Modified': '1986-02-21 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator Genisys',
                'Owner': 'Alan Taylor',
                'Modified': '2015-06-25 12:34',
                'Live': true,
                'Visible': true
            }
        ]
    }
%}
{{ 
    html.datatable({
        'class': 'table--full table--horizontal',
        'data-order': '[[ 3, \"desc\" ]]',
        'data-select': false,
        'data': data
    }) 
}}
    " }) }}

    {{ docs.heading('h2', 'Set initial column order') }}

    <p>You can specify how the data should be sorted on initial load by supplying the <code>data-order</code> attribute, if you’re using the responsive columns remember that these will affect which column index you supply.</p>

    <p>For example, to sort our example table by name, this is the column <code>1</code> (zero indexed).</p>

    {{ docs.example({ 
        twig: "
{% 
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified' },
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': [
            {
                'Title': 'The Terminator',
                'Owner': 'James Cameron',
                'Modified': '1991-07-01 12:34',
                'Live': true,
                'Visible': false 
            },
            {
                'Title': 'Conan the Barbarian',
                'Owner': 'John Millius',
                'Modified': '1982-04-02 12:34',
                'Live': false,
                'Visible': true 
            },
            {
                'Title': 'Predator',
                'Owner': 'John McTiernan',
                'Modified': '1988-01-01 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Commando',
                'Owner': 'Mark L. Lester',
                'Modified': '1986-02-21 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator Genisys',
                'Owner': 'Alan Taylor',
                'Modified': '2015-06-25 12:34',
                'Live': true,
                'Visible': true
            }
        ]
    }
%}
{{ 
    html.datatable({
        'class': 'table--full table--horizontal',
        'data-order': '[[ 1, \"asc\" ]]',
        'data': data
    }) 
}}
    " }) }}

    {{ docs.heading('h2', 'Disable column ordering') }}

    <p>Some columns don’t need to allow ordering, such as an actions column where the data is the same for each row.</p>

    <p>Add the <code>data-orderable="false"</code> to any <code>thead > th</code> or <code>thead > td</code> that you do not wish to be sorted. If you're using the helper you need to pass this through the <code>columns.attrs</code> attribute for the column.</p>

    <p>This example disables column ordering on the 'Live' and 'Visible' columns.</p>

    {{ docs.example({ 
        twig: "
{% 
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified' },
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': [
            {
                'Title': 'The Terminator',
                'Owner': 'James Cameron',
                'Modified': '1991-07-01 12:34',
                'Live': true,
                'Visible': false 
            },
            {
                'Title': 'Conan the Barbarian',
                'Owner': 'John Millius',
                'Modified': '1982-04-02 12:34',
                'Live': false,
                'Visible': true 
            },
            {
                'Title': 'Predator',
                'Owner': 'John McTiernan',
                'Modified': '1988-01-01 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Commando',
                'Owner': 'Mark L. Lester',
                'Modified': '1986-02-21 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator Genisys',
                'Owner': 'Alan Taylor',
                'Modified': '2015-06-25 12:34',
                'Live': true,
                'Visible': true
            }
        ]
    }
%}
{{ 
    html.datatable({
        'class': 'table--full table--horizontal',
        'data-order': '[[ 3, \"desc\" ]]',
        'data': data
    }) 
}}
    " }) }}

    {{ docs.heading('h2', 'Ordering date/time columns') }}

    <p>To allow proper ordering of dates, use the <code>data-order</code> attribute to supply a <code>yyyy-mm-dd hh:mm</code> formatted string, this will be used when ordering the column.</p>

    <p>{{ html.icon('exclamation-triangle', {'label': 'Important'} ) }} It's currently not possible to do this using the <code>html.datatable()</code> helper.</p>

<pre><code lang="javascript">&lt;td data-order="1982-04-02 12:00"&gt;02/04/1982 12:34pm&lt;/td&gt;</code></pre>

    {{ docs.heading('h2', 'No results') }}
    {{ docs.heading('h3', 'Default message') }}

    <p>If a table has nothing to display we provide a helpful message to the user so they understand why nothing is shown. If they have the relevant permissions to add something to this table, you should provide a call to action.</p>

    <p>The message will be shown automatically if the table body contains no rows.</p>

    {{ docs.example({ 
        twig: "
{% 
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified' },
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': [
        ]
    }
%}
{{ 
    html.datatable({
        'class': 'table--full table--horizontal',
        'data-order': '[[ 3, \"desc\" ]]',
        'data': data
    }) 
}}
    " }) }}

    {{ docs.heading('h3', 'Custom message') }}

    <p>You should customise your no results message to reflect the kind of content the table normally contains, ideally you should also include a call to action here so the user can quickly jump into the action of adding content.</p>

    {{ docs.example({ 
        twig: "
{% 
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified' },
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': [
        ]
    }
%}
{{ 
    html.datatable({
        'class': 'table--full table--horizontal',
        'data-empty-table': 'There are currently no Arnie movies to display<br /><br /><button class=\"btn btn--primary\">Add Movie</button>',
        'data-order': '[[ 3, \"desc\" ]]',
        'data': data
    }) 
}}
    " }) }}

    {{ docs.heading('h2', 'Pagination') }}
    {{ docs.heading('h3', 'Number of rows per page') }}

    <p>By default, datatables display 25 rows per page. You can override this by supplying the page-length attribute, for example <code>data-page-length="10"</code>.</p>

    <p>Pagination links are only shown when the number of table rows is greater than the page-length option.</p>

    {{ docs.heading('h3', 'Page length menu') }}

    <p>Add <code>data-length-change="true"</code> to the table to allow users to change the number of rows shown on each page. This is shown at the bottom right of the table when enabled.</p>

    {{ docs.example({ 
        twig: "
{% 
    set data = {
        'columns': [
            { 'title': 'Title' },
            { 'title': 'Owner' },
            { 'title': 'Modified' },
            {
                'title': 'Live',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            },
            {
                'title': 'Visible',
                'attrs': {
                    'data-orderable': 'false',
                    'class': 'u-text-align-center u-shrink-to-fit'
                }
            }
        ],
        'data': [
            {
                'Title': 'The Terminator',
                'Owner': 'James Cameron',
                'Modified': '1991-07-01 12:34',
                'Live': true,
                'Visible': false
            },
            {
                'Title': 'Conan the Barbarian',
                'Owner': 'John Millius',
                'Modified': '1982-04-02 12:34',
                'Live': false,
                'Visible': true
            },
            {
                'Title': 'Predator',
                'Owner': 'John McTiernan',
                'Modified': '1988-01-01 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Commando',
                'Owner': 'Mark L. Lester',
                'Modified': '1986-02-21 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator Genisys',
                'Owner': 'Alan Taylor',
                'Modified': '2015-06-25 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Conan the Destroyer',
                'Owner': 'Richard Fleischer',
                'Modified': '1984-06-29 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator 2: Judgement Day',
                'Owner': 'James Cameron',
                'Modified': '1991-08-16 12:34:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Twins',
                'Owner': 'Ivan Reitman',
                'Modified': '1988-12-08 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Escape Plan',
                'Owner': 'Mikael Håfström',
                'Modified': '2013-10-18 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'The Last Stand',
                'Owner': 'Kim Je-woon',
                'Modified': '2013-01-18 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'True Lies',
                'Owner': 'James Cameron',
                'Modified': '1994-07-15 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Aftermath',
                'Owner': 'Elliott Lester',
                'Modified': '2017-04-07 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Sabotage',
                'Owner': 'David Ayer',
                'Modified': '2014-05-09',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Total Recall',
                'Owner': 'Paul Verhoven',
                'Modified': '2012-08-29 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Maggie',
                'Owner': 'Henry Hobson',
                'Modified': '2015-05-06 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Red Sonja',
                'Owner': 'Richard Fleischer',
                'Modified': '1985-07-03 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Kindergarten Cop',
                'Owner': 'Ivan Reitman',
                'Modified': '1991-02-01 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'The Running Man',
                'Owner': 'Paul Michael Glaser',
                'Modified': '1987-11-13 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Junior',
                'Owner': 'Ivan Reitman',
                'Modified': '1994-11-23 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Last Action Hero',
                'Owner': 'John McTiernan',
                'Modified': '1993-07-30 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Red Heat',
                'Owner': 'Walter Hill',
                'Modified': '1998-06-17 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Raw Deal',
                'Owner': 'John Irvin',
                'Modified': '1986-06-06 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Eraser',
                'Owner': 'Chuck Russell',
                'Modified': '1996-06-21 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Jingle All the Way',
                'Owner': 'Brian Levant',
                'Modified': '1996-11-16 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'The 6th Day',
                'Owner': 'Roger Spottiswoode',
                'Modified': '2000-11-13 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Collateral Damage',
                'Owner': 'Andrew Davis',
                'Modified': '2002-02-08 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Commando',
                'Owner': 'Mark L. Lester',
                'Modified': '1986-02-21 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator Genisys',
                'Owner': 'Alan Taylor',
                'Modified': '2015-06-25 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Conan the Destroyer',
                'Owner': 'Richard Fleischer',
                'Modified': '1984-06-29 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Terminator 2: Judgement Day',
                'Owner': 'James Cameron',
                'Modified': '1991-08-16 12:34:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Twins',
                'Owner': 'Ivan Reitman',
                'Modified': '1988-12-08 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Escape Plan',
                'Owner': 'Mikael Håfström',
                'Modified': '2013-10-18 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'The Last Stand',
                'Owner': 'Kim Je-woon',
                'Modified': '2013-01-18 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'True Lies',
                'Owner': 'James Cameron',
                'Modified': '1994-07-15 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Aftermath',
                'Owner': 'Elliott Lester',
                'Modified': '2017-04-07 12:34',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Sabotage',
                'Owner': 'David Ayer',
                'Modified': '2014-05-09',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Total Recall',
                'Owner': 'Paul Verhoven',
                'Modified': '2012-08-29 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Maggie',
                'Owner': 'Henry Hobson',
                'Modified': '2015-05-06 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Red Sonja',
                'Owner': 'Richard Fleischer',
                'Modified': '1985-07-03 12:00',
                'Live': true,
                'Visible': true
            },
            {
                'Title': 'Kindergarten Cop',
                'Owner': 'Ivan Reitman',
                'Modified': '1991-02-01 12:00',
                'Live': true,
                'Visible': true
            }
        ]
    }
%}
{{ 
    html.datatable({
        'class': 'table--full table--horizontal',
        'data-length-change': 'true',
        'data-order': '[[ 3, \"desc\" ]]',
        'data': data
    }) 
}}
    " }) }}
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <div class="page-nav-wrapper">
        <h4>On this page</h4>
        <ul class="page-nav">
            <li><a href="#basic-styling">Basic styling</a></li>
            <li><a href="#dependencies">Dependencies</a>
                <ul>
                    <li><a href="#javascript">Javascript</a></li>
                    <li><a href="#sass">Sass</a></li>
                </ul>
            </li>
            <li><a href="#configuration">Configuration</a></li>
            <li><a href="#example-usage">Example usage</a></li>
            <li><a href="#disable-row-selection">Disable row selection</a></li>
            <li><a href="#set-initial-column-order">Set initial column order</a></li>
            <li><a href="#disable-column-ordering">Disable column ordering</a></li>
            <li><a href="#ordering-date/time-columns">Ordering date/time columns</a></li>
            <li><a href="#no-results">No results</a>
                <ul>
                    <li><a href="#default-message">Default message</a></li>
                    <li><a href="#custom-message">Custom message</a></li>
                </ul>
            </li>
        </ul>

        <h4>Related components</h4>
        <ul class="page-nav">
            <li><a href="table">Table</a></li>
        </ul>
    </div>
{% endblock tab_sidebar %}