{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">
    <p class="lede">The filter bar pattern allows you to build up a list of filters to be applied to a UI. Commonly used to filter tabular data as an alternative to displaying a potentially large form.</p>

    <figure>
        <img src="/views/patterns/filter-bar/filterbar.gif" alt="Screenshot showing the interactions of the filterbar" />
    </figure>

    {{ docs.heading('h2', 'Dependencies') }}

    <p>You will need the <code>FilterBarComponent</code> to be included in your browserify configuration.</p>

    <p>Depending on your setup, this will probably need to be in be in a file called <code>index.js</code> or <code>main.js</code>.</p>

    <pre><code lang="javascript">// index.js

var FilterBarComponent = require('/path/to/pulsar/FilterBarComponent');

module.exports = {
    FilterBarComponent: FilterBarComponent
}</code></pre>

    <pre><code lang="javascript">// main.js

var $html = $('html');

pulsar.filterBar = new pulsar.FilterBarComponent($html);

$(function () {
    pulsar.filterBar.init();
});</code></pre>

    {{ docs.heading('h2', 'Basic usage') }}

    <p>At it’s core, the filterbar is a regular hidden form which is processed by the FilterBarComponent to turn it into the interactive filter bar. This hidden form should be wrapped with a containing <code>&lt;div class="filter-bar display--none"&gt;</code>.

    <p>To trigger the opening of the filter bar, you should add a 'new filter' item to the actions dropdown menu.</p>

    <p>{{ html.icon('warning-sign') }} There should only be one filter bar within a given UI, although there could be multiple filter bars on different tabs.</p>

    {{ docs.example({
        twig: "
<div class=\"actionsbar\">
    <div class=\"float--left\">            
        {{
            html.actions_menu({
                'items': [
                    [
                        {
                            'label': 'New Filter',
                            'href': '#',
                            'icon': 'filter',
                            'data-ui': 'show-filter-bar'
                        }
                    ]
                ]
            })
        }}
    </div>
</div>

<div class=\"filter-bar display--none\">
    {{ form.create() }}
        {{ form.fieldset_start({'legend': 'Filter by'}) }}

        {{
            form.select2({
                'label': 'Colour',
                'id': 'colour',
                'multiple': true,
                'placeholder': 'Choose one or more',
                'options': {
                    'colour_red': 'Red',
                    'colour_blue': 'Blue'
                }
            })
        }}

        {{
            form.select2({
                'label': 'Size',
                'id': 'size',
                'placeholder': 'Choose one',
                'options': {
                    '': '',
                    'small': 'Small',
                    'medium': 'Medium',
                    'large': 'Large'
                }
            })
        }}

        {{
            form.text({
                'label': 'Text field example',
                'id': 'foo'
            })
        }}

        {{
            form.date({
                'label': 'Added from',
                'id': 'addedFrom',
            })
        }}

        {{
            form.date({
                'label': 'Added to',
                'id': 'addedTo'
            })
        }}

        {{
            form.checkbox({
                'label': 'In stock',
                'id': 'inStock'
            })
        }}

    {{ form.fieldset_end() }}
    {{
        form.end({
            'actions': [
                form.submit({
                    'label': 'Save',
                    'class': 'btn--primary'
                }),
                html.link({
                    'label': 'Clear',
                    'class': 'btn btn--naked',
                    'href': '#',
                    'data-ui': 'clear-all-filters'
                })
            ]
        })
    }}

</div>
    " }) }}

    {{ docs.heading('h2', 'Setting initial state') }}

    <p>There may be situations where you need to pre-populate and display the filter bar on page load. The filter bar will automatically do that if the filter form fields have values or selected options.</p>

    <p>It’s worth noting that any select elements in the filter form will need to have an empty first option to prevent the filter bar taking the first option as a selected option. This also applies when using the select2 helper, see the example below:</p>

<pre><code>&#123;
    form.select2(&#123;
        'label': 'Size',
        'id': 'size',
        'placeholder': 'Choose one',
        'options': &#123;
            '': '',
            'small': 'Small',
            'medium': 'Medium',
            'large': 'Large'
        &#125;
    &#125;)
&#125;</pre></code>

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#dependencies">Dependencies</a></li>
        <li><a href="#basic-usage">Basic usage</a></li>
        <li><a href="#setting-initial-state">Setting initial state</a></li>
    </ul>
{% endblock tab_sidebar %}
