{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}
<div class="report">

    {{ docs.heading('h2', 'States') }}
    {{ docs.heading('h3', 'Success') }}

    {{ docs.example({ 
        twig: "
{{
    flash.message({
        'message': 'This is an important notice',
        'type': 'success'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Warning') }}

    {{ docs.example({ 
        twig: "
{{
    flash.message({
        'message': 'This is an important notice',
        'type': 'warning'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Error') }}

    {{ docs.example({ 
        twig: "
{{
    flash.message({
        'message': 'This is an important notice',
        'type': 'error'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Info') }}

    {{ docs.example({ 
        twig: "
{{
    flash.message({
        'message': 'This is an important notice',
        'type': 'info'
    })
}}
    " }) }}

    {{ docs.heading('h3', 'Inverse') }}

    {{ docs.example({ 
        twig: "
{{
    flash.message({
        'message': 'This is an important notice',
        'type': 'inverse'
    })
}}
    " }) }}

    
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}