{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}

<div class="report">

    {{ docs.heading('h2', 'Accessibility') }}

    <p>You should not rely on colour alone to convey meaning. This will ensure you're meeting the requirements for WCAG at AA level. Make sure your text labels are descriptive, or add additional context with a visually hidden label.</p>

    {{ docs.guidelines({
        do: {
            label: 'use a descriptive text label',
            twig: "
{{
    html.label({
        'label': 'Online',
        'class': 'label--success'
    })
}}
{{
    html.label({
        'label': 'Offline',
        'class': 'label--danger'
    })
}}
    "
        },
        not: {
            label: 'rely on colour to convey meaning',
            twig: "
{{
    html.label({
        'label': 'Online',
        'class': 'label--success'
    })
}}
{{
    html.label({
        'label': 'Online',
        'class': 'label--danger'
    })
}}
    "       
        }
    }) }}

    {{ docs.heading('h2', 'Linked labels') }}

    <p>A label can be used as the <code>label</code> for a link. Be careful using link labels as they don’t offer the same visual affordances as regular links or buttons, and avoid using link labels and non-link labels in close proximity.</p>

    {{ docs.example({ 
        twig: "
{{
    html.link({
        'label': html.label({ 'label': 'My Label' }),
        'href': '#example'
    })
}}
    " }) }}
</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    {{ docs.toc() }}
{% endblock tab_sidebar %}