{% extends '@pulsar/pulsar/components/tab.html.twig' %}
{% import 'helpers/example.html.twig' as docs %}

{% block tab_content %}

<div class="report">

    {{ docs.heading('h2', 'Accessibility') }}

    <p>You should not rely on colour alone to convey meaning. This will ensure you're meeting the requirements for WCAG at AA level. Make sure your text labels are descriptive, or add additional context with a visually hidden label.</p>

    {{ docs.guidelines({
        do: {
            label: 'use a descriptive text label',
            twig: "
{{
    html.label({
        'label': 'Online',
        'class': 'label--success'
    })
}}
{{
    html.label({
        'label': 'Offline',
        'class': 'label--danger'
    })
}}
    "
        },
        not: {
            label: 'rely on colour to convey meaning',
            twig: "
{{
    html.label({
        'label': 'Online',
        'class': 'label--success'
    })
}}
{{
    html.label({
        'label': 'Online',
        'class': 'label--danger'
    })
}}
    "       
        }
    }) }}

    {{ docs.heading('h2', 'Linked labels') }}

    <p>A label can be used as the <code>label</code> for a link. Be careful using link labels as they don’t offer the same visual affordances as regular links or buttons, and avoid using link labels and non-link labels in close proximity.</p>

    {{ docs.example({ 
        twig: "
{{
    html.link({
        'label': html.label({ 'label': 'My Label' }),
        'href': '#example'
    })
}}
    " }) }}

    {{ docs.heading('h2', 'Labels with tooltips') }}

    <p>You should keep labels short and concise, tooltips can be used to provide further meaning if required.</p>

    {{ docs.example({ 
        twig: "
{{
    html.label({
        'label': '3 days ago',
        'class': 'label--primary',
        'data-toggle': 'tooltips',
        'data-placement': 'right',
        'title': '4th July 2015 12:34pm'
    })
}}
    " }) }}

</div>
{% endblock tab_content %}
{% block tab_sidebar %}
    <h4>On this page</h4>
    <ul class="page-nav">
        <li><a href="#accessibility">Accessibility</a></li>
        <li><a href="#linked-labels">Linked labels</a></li>
        <li><a href="#labels-with-tooltips">Labels with tooltips</a></li>
    </ul>
{% endblock tab_sidebar %}